---
title: RM | About
layout: base.njk
pageId: about
---

<div class="about">
  <h1>Hi there, I'm Romina</h1>

  <p>I'm a computer science engineer with a passion for solving problems.</p>

  <p>
    I've been working as {{info.title}} at <a href="{{ info.company.link }} target=" _blank">{{ info.company.name }}</a> since {{info.company.year}}.
  </p>

  <p>In some projects I've worked with charts and tables libraries, google doc apis, office js apis and many others</p>

  <p>
    My daily basis at work, among other things, normally involves: ReactJS, Redux-Thunk, Mapbox, Styled-components, jest, git...
  </p>

</div>
