---
title: RM | About
layout: base.njk
pageId: about
---

<div class="about">
  <h1>Hi there, I'm Romina</h1>

  <p>I'm a computer science engineer with a passion for solving problems.</p>

  <p>
    I'm currently based in Madrid, but the Canary Islands is the place I call
    home.
  </p>

  <p>
    I work as a {{ info.title }}
    <a href="{{ info.company.link }}">@{{ info.company.name }}</a
    >.
  </p>
</div>
