@import url("https://fonts.googleapis.com/css2?family=Cutive&family=Raleway&family=Dosis:wght@400;700&display=swap");

:root {
  --body_light_bg: #f9f3f3;
  --body_dark_bg: #000;
  --body_bg_color: var(--body_light_bg);
  --main_color: #343a40;
  --sec_color: #536162;
  --sec_color_hover: #5aa897;
}

h1,
.main .name .char {
  font-size: 4rem;
  color: var(--main_color);
  margin: 0;
}

.menu :last-child:active {
  --body_bg_color: var(var(--body_dark_bg));
}

a {
  text-decoration: none;
  color: var(--sec_color);
  align-self: center;
  text-decoration: none;
  position: relative;
}

body {
  background-color: var(--body_bg_color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Dosis";
}

.menu {
  height: 50px;
  padding-left: 20px;
  display: inline-flex;
  gap: 20px;
  position: absolute;
}

.menu a:hover {
  font-weight: bold;
}

.menu a::after {
  content: attr(title);
  display: block;
  font-weight: bold;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
  height: 1px;
}

.menu a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -4px;
  left: 0;
  transition: width 0.2s linear;
  background: linear-gradient(
    180deg,
    #fe0000 16.66%,
    #fd8c00 16.66%,
    33.32%,
    #ffe500 33.32%,
    49.98%,
    #119f0b 49.98%,
    66.64%,
    #0644b3 66.64%,
    83.3%,
    #c22edc 83.3%
  );
}

.menu a:hover::before {
  width: 100%;
}

.main {
  text-align: center;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main .name {
  min-height: 6rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5vw;
}

.me:hover,
.main .name:hover ~ .me {
  bottom: 0;
  filter: grayscale(0);
}

.main .name:hover .char,
.me:hover ~ .name .char {
  animation: breathe 1s alternate both;
  animation-delay: calc((var(--char-index) + 1) * 100ms);
}

.main > span {
  color: var(--sec_color);
  font-size: 1rem;
}

.main a:hover {
  color: var(--sec_color_hover);
}

.main .social a svg {
  height: 1.5rem;
  stroke: var(--sec_color);
  transition: stroke 25ms linear;
  margin: 0.5rem;
}

.main .social a svg:hover {
  height: 1.5rem;
  stroke: var(--sec_color_hover);
}

.me {
  position: absolute;
  bottom: -5vh;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  transition: all 1s ease-in-out;
  filter: grayscale(50%);
}

.me img {
  height: 25vh;
}

@keyframes breathe {
  0% {
    font-variation-settings: "wght" 400, "wdth" 85;
    font-size: 4rem;
  }
  60% {
    font-variation-settings: "wght" 700, "wdth" 100;
    font-size: 5rem;
  }

  100% {
    font-variation-settings: "wght" 400, "wdth" 85;
    font-size: 4rem;
  }
}
