---
title: RM | Posts
layout: base.njk
templateEngineOverride: njk,md
pageId: posts
---

<div class="posts">
  <i class="annotation">
    Here is where I think out loud. Hopefully those thoughts will be better
    eventually.
  </i>

  {% include "_layouts/postList.njk" %}
</div>
