@font-face {
  font-family: Movement;
  src: url("../assets/MovementV.ttf");
  text-rendering: optimizeLegibility;
}

span.char {
  font-size: clamp(3rem, 10vw - 1rem, 4rem);
  color: var(--main_color);
  margin: 0;
  font-family: "Oxanium";
  font-weight: 200;
}

span .word:first-child span.char:first-child {
  font-family: "Movement";
  font-variation-settings: "wght" 200, "SPAC" 100;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .name {
  min-height: 6rem;
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;
}

.home .name:hover ~ .me,
.home .name:active ~ .me {
  bottom: 0;
  filter: grayscale(0);
}

.home .name:hover .char,
.me:hover ~ .name:not(:hover) .char,
.home .name:active .char,
.me:active ~ .name:not(:active) .char {
  animation: breathe 1s alternate both;
  animation-delay: calc((var(--char-index) + 1) * 100ms);
  cursor: default;
}

.home > span {
  color: var(--sec_color);
  font-size: 1rem;
}

.me {
  position: fixed;
  bottom: -5vh;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  transition: all 500ms ease-in-out;
  filter: grayscale(50%);
}

.me img {
  height: 25vh;
}

@keyframes breathe {
  0% {
    font-variation-settings: "wght" 200;
    font-size: clamp(3rem, 10vw - 1rem, 4rem);
  }
  60% {
    font-variation-settings: "wght" 600;
    /* font-weight: bold; */
    font-size: clamp(3.5rem, 10vw - 0.5rem, 4.5rem);
  }

  100% {
    font-variation-settings: "wght" 200;
    font-size: clamp(3rem, 10vw - 1rem, 4rem);
  }
}
