:root {
  --body_light_bg: #f9f3f3;
  --body_dark_bg: #000;
  --body_bg_color: var(--body_light_bg);
  --main_color: #343a40;
  --sec_color: #536162;
  --sec_color_hover: #0c969b;
  --rant: #bff205;
  --personal: #6bf29a;
  --coding: #38bdf2;
  --config: #f2a2c8;
}
