<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="/style/normalize.css"/>
        <link rel="stylesheet" href="/style/base.css"/>
        <link rel="stylesheet" href="/style/splitting.css"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ title }}</title>
    </head>
    <body>
        <main>
            {% include "components/header.njk" %}
                {{ content | safe }}
            {% if pageId !== 'home' %}
                {% include "components/social.njk" %}
            {% endif %}
        </main>
    </body>

    <script src="{{ " /scripts/splitting.min.js" | url }}"></script>
    <script src="{{ " /scripts/main.js" | url }}"></script>
</html>
